[Unit]
Description=Docker container
BindsTo=docker.service
After=docker.service

[Service]
Environment=NAME=%N
Restart=on-failure
type=simple
RemainAfterExit=yes
ExecStart=/usr/bin/docker compose -f /home/py/DomoLabo/Hub/MQTT/docker-compose.yaml up -d
ExecStop=/usr/bin/docker compose -f /home/py/DomoLabo/Hub/MQTT/docker-compose.yaml down
[Install]
WantedBy=multi-user.target
